
 #TRADOC-Institution 
 {
   background-color:#00BFFF;
   font-size:large;
   padding-right:50px;
   padding-left:50px;
   
    
 }
 #Non-TRADOC-Institution 
 {
	  
   background-color:#EEE8AA;
   font-size:large;
   padding-right:50px;
   padding-left:50px;
   
   
 }
 #Stand-Alone-NCOAs 
 {
	  
   background-color:#E9967A;
   font-size:large;
   padding-right:50px;
   padding-left:50px;
   
 }
 #RC-Institution 
 {
	  
   background-color:#7CFC00;
   font-size:large;
   padding-right:50px;
   padding-left:50px;
   
 }

#Proponent 
 {
	  
   background-color:#D3D3D3;
   font-size:large;
   padding-right:50px;
   padding-left:50px;
   
 }
 
 #OIP 
 {
	  
   background-color:#DDA0DD;
   font-size:large;
   padding-right:50px;
   padding-left:50px;
   
 }
