<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>   
    <add key="LogoImage" value="None" />
    <add key="EULA" value="EULA.rtf"/>
    <add key="SolutionId" value="fe896971-ae4c-4fb4-a7e2-4828af66bf4c"/>
    <add key="SolutionFile" value="SpPrint.wsp"/>
    <add key="SolutionTitle" value="SPPrint"/>
    <add key="SolutionVersion" value="1.0.0.0"/>
    <add key="FeatureScope" value="Site"/>
    <add key="FeatureId" value="df935dcc-45af-4a97-8121-252fb181bb52" />
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>  
    <add key="DocumentationUrl" value="http://www.SpElements.com/spprint/"/>  
  </appSettings>
</configuration>